<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changhong.settings"
    android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.HI_SYSTEM_MANAGER_SERVICE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NetSettingActivity" />
        <activity android:name=".wifi.WiFiActivity" />
        <activity android:name=".InternetInfoActivity" />
        <activity android:name=".WifiIPv4InfoActivity" />
        <activity android:name=".WifiIPv6InfoActivity" />
        <activity android:name=".EthernetIPv4Activity" />
        <activity android:name=".EthIPv4InfoActivity" />
        <activity android:name=".EthIPv6InfoActivity" />
        <activity android:name=".StaticIPv4Activity" />
        <activity android:name=".BluetoothMainActivity" />
        <activity android:name=".About.About_Activity" />
        <activity android:name=".About.Certificate_Information_Activity" />
        <activity android:name=".About.Diagnose_Activity" />
        <activity android:name=".About.Info_Unit_Activity" />
        <activity android:name=".About.Version_Information_Activity" />
        <activity android:name=".General.Reset_Setting_Activity" />
        <activity android:name=".Image_Sound.Image_Sound_Activity" />
        <activity android:name=".Image_Sound.Resolution_Activity" />
        <activity android:name=".Image_Sound.Scaling_Activity" />
        <activity android:name=".Image_Sound.Sound_Transmission_Activity" />
        <activity android:name=".Security.Input_Password_Activity" />
        <activity android:name=".Security.Security_Password_Activity" />
        <activity android:name=".Update_king.Update_System_Auto_Activity" />
        <activity android:name=".General.General_Activity" />
        <activity android:name=".NetworkIPV4_IPOE_Activity" />
        <activity android:name=".EthernetIPv6Activity" />
        <activity android:name=".NetworkIPV6_IPOE_Activity" />
        <activity android:name=".NetworkIPV6_PPPOE_Activity" />
        <activity android:name=".WifiAPActivity" />
        <activity android:name=".NetworkIPV4_PPPOE_Activity" />
    </application>
</manifest>